.contact {
	display: flex;
	background-color: #000;
	&__column {
		flex: 0 0 50%;
	}

	&__title {
		color:#fff;
		font-family: 'AkzidenzGroteskBQCondensedBold';
		font-size: 25px;
		line-height: 25px;
		text-align: left;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		margin: 0px 0px 28px 0px;
	}
	&-map{
		height: 100%;
		iframe{
		width: 100%;
		height: 100%;
		}
	}
}

.contact-form {
	padding: 50px 0px 50px 60px;
	width: 375px;
	&__label {
	}

	&__input {
		display: block;
		padding:10px 20px;
		margin: 0px 0px 25px 0px;
		width: 100%;
		border: 2px solid #959595;
		background-color: #252525;
		color: #959595;
		font-size: 15px;
		line-height: 25px;
		text-align: left;
	}
	&__textarea {
		display: block;
		margin: 0px 0px 25px 0px;
		padding:10px 20px;
		width: 100%;
		height: 100px;
		border: 2px solid #959595;
		background-color: #252525;
		resize: none;
		color: #959595;
		font-size: 15px;
		line-height: 25px;
		text-align: left;
	}
}

