.why {
	margin: 0px 0px 80px 0px;
	&-bottom{
		padding: 50px 0px 0px 0px;
		background-color: #ebebeb;
	}
}
.why-body {
	display: flex;
	background-color: #000;
		&__column {
			flex: 0 0 50%;
		}
		&__title{
			padding: 57px 60px 57px 0px;
			color: #ffffff;
			font-family: 'AkzidenzGroteskBQCondensedBold';
			font-size: 50px;
			line-height: 25px;
			text-align: right;
			text-transform: uppercase;
			letter-spacing: 5px;
		}

		&__img {
			height: 100%;
		}
}

.why-content {
	display: flex;
	flex-wrap: wrap;
		&__column {
			flex: 0 0 50%;
			margin: 0px 0px 50px 0px;
		}
}
.why-content-item {
	display: flex;
		&__icon {
			display: flex;
			width: 100px;
			height: 100px;
			background-color: #000000;
			align-items: center;
			justify-content: center;
			
		}
		&__descr{
			flex: 1 1 100%;
			display: flex;
			flex-direction: column;
			padding: 0px 0px 0px 12px;
		}

		&__title {
			flex: 1 1 auto;
			font-family: 'AkzidenzGroteskBQCondensedBold';
			font-size: 25px;
			line-height: 25px;
			text-align: left;
			text-transform: uppercase;
			letter-spacing: 2.5px;
		}

		&__text {
			font-size: 15px;
			line-height: 25px;
			text-align: left;
		}
}
