@import "libs/null.scss";
@import "base/fonts";

* {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}


.container{
	max-width: 900px;
	padding: 0px 10px;
	margin: 0 auto;
}

.ibg{background-position: center;background-size: cover;background-repeat: no-repeat;
	img{display: none;}
}
@import "blocks/header";
@import "blocks/private";
@import "blocks/btn";
@import "blocks/products";
@import "blocks/why";
@import "blocks/hello";
@import "blocks/contact";
@import "blocks/footer";

@import "base/media";
